* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin Sketch", cursive;
}
p,
a,
span {
  letter-spacing: 1px;
  font-family: "Neucha", cursive;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

.navigation {
  width: 99.5%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 2px;
  /*  */
}

.jumbo-hero {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  max-height: auto;
}
.jumbo-hero img {
  max-width: 450px;
  max-height: 450px;
}

.cta {
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  transform: scale(1.05);
}

.intro-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  /* border-radius: 50%; */
}
.badge-img {
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.badge-img:hover {
  transform: scale(1.05);
}

.badge-google_play {
  height: 60px;
}
.badge-apple_store {
  height: 40px;
}

/* Footer */
li {
  padding: 0;
}
footer a {
  text-decoration: none;
  width: 100%;
  padding: 0;
  text-align: center;
}
footer a:hover {
  color: #fff;
  background-color: #333333;
  text-decoration: none;
}
footer nav {
  color: #fff;
}

/* ======================= App Styles =================== */
/* side bar */
.appBody {
  position: relative;
}
.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: auto;
}
.main-container {
  min-height: 100vh;
  height: auto;
}

.nav-links .nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-links .nav-link:hover {
  background-color: #ffc107;
}

.nav-links .active-link {
  background-color: #ffc107;
}

.big-calendar-number {
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.day-info {
  height: 100%;
}
